:root {
  --foreground: #111;
  --background: #fff;
}

/* The universal selector (*) needs to be used to apply box-sizing to all elements,
   and it must be inside a rule set with curly braces {} */
* { 
  box-sizing: border-box; 
}

html, body { 
  padding: 0; 
  margin: 0; 
  color: var(--foreground); 
  background: var(--background); 
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; 
}