name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: "yarn"

      - name: Enable Corepack + Yarn Berry
        run: |
          corepack enable
          corepack prepare yarn@stable --activate

      - name: Yarn Install (No Immutable Mode)
        run: |
          yarn config set enableImmutableInstalls false
          yarn install

      - name: Lint
        run: yarn lint

      - name: Build
        env:
          NODE_OPTIONS: --no-node-snapshot
        run: yarn build

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: next-build
          path: .next
